.header {
    position: relative;
    @include responsive(padding-top, 56.25%, 80%, 100%);
    background: image-url('bgr.jpg') no-repeat center center / cover;
    color: colors(white);
    font-weight: bold;
}
.header__filter {
    @include fullSize(5vw);
    background: rgba(colors(black), 0.5);
}
.header__links {
    margin-top: 5vh;
    &:hover {
        .header__links-item {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
    &-item {
        @include responsive(height, 5vh, 3vw, 5vw);
        display: inline-block;
        @include responsive(margin, 0 1vw, 0 2vw, 0 2vw);
        transition: opacity 0.5s ease;
    }
    img {
        display: block;
        height: 100%;
        width: auto;
    }
}
