.profile {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    margin-right: 5vw;
    margin-bottom: 2vw;
    text-align: center;
}
.profile__image {
    border-radius: 50%;
    border: 5px solid colors(orange_a);
}
