.results-total {
    margin: 5vw 0;
    position: relative;
}
.results-total__intro {

}
.results-total__activities {
    clear: both;
    font-size: 0;
}
.results-sport {
    position: relative;
    display: inline-block;
    width: calc(25% - 1px);
    margin-right: 1px;
    background-color: colors(white);
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 50% 50%;
        opacity: 0.1;
    }
    &--other {
        &:before {
            background-image: image-url('sport_workout.svg');
        }
    }
    &--bike {
        &:before {
            background-image: image-url('sport_bike.svg');
        }
    }
    &--run {
        &:before {
            background-image: image-url('sport_run.svg');
        }
    }
    &--swim {
        &:before {
            background-image: image-url('sport_swim.svg');
        }
    }

}
.results-sport__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1vw;
    font-size: 1vw;
}
.results-intro__description {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2vw;
}
.results-intro {
    &__title {
        display: inline-block;
        padding: 0.5vw 1vw;
        margin-bottom: 1vw;
        line-height: 1;
        font-size: 2vw;
        font-weight: bold;
        text-transform: uppercase;
        color: colors(white);
        background: colors(black);
    }
    &__stats {
        line-height: 1;
        font-size: 1vw;
        font-weight: bold;
        &-col {
            display: inline-block;
            vertical-align: top;
            margin-right: 2vw;
        }
        span {
            display: inline-block;
            vertical-align: baseline;
            width: 150px;
        }
        strong {
            display: inline-block;
            width: 40px;
            font-size: 2em;
            text-align: right;
            color: colors(red_a);
        }
    }
}
.sport-total {
    font-size: 0;
    &__title {
        display: inline-block;
        padding: 0.5vw 2vw;
        margin-left: -1vw;
        margin-top: 1vw;
        margin-bottom: 1.5vw;
        line-height: 1;
        color: colors(white);
        background: colors(red_a);
        font-size: 2vw;
        text-transform: uppercase;
    }
    &__label {
        display: inline-block;
        padding: 3px 1vw;
        width: 50%;
        font-size: 1vw;
        border-bottom: 1px solid colors(grey_a);
    }
    &__value {
        display: inline-block;
        width: 50%;
        padding: 3px 1vw;
        font-size: 1.2vw;
        font-weight: bold;
        text-align: right;
        border-bottom: 1px solid colors(grey_a);
    }
}
.sport-total__graph {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40%;
    opacity: 0.75;
    &-cursor {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background: colors(red_a);
        transition: height 1s ease 0.5s;
        .results-sport:not(.results-sport--shown) & {
            height: 0 !important;
        }
    }
    &-text {
        position: absolute;
        bottom: 100%;
        right: 2vw;
        line-height: 0.75;
        font-size: 2vw;
        text-align: right;
        font-weight: bold;
        color: colors(red_a);
    }
}
