.week-total {
    margin: 5vw 0;
    position: relative;
}
.week-total__intro {

}
.week-total__activities {
    clear: both;
    font-size: 0;
}
.week-sport {
    position: relative;
    display: inline-block;
    width: calc(25% - 1px);
    margin-right: 1px;
    background-color: colors(white);
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 50% 50%;
        opacity: 0.1;
    }
    &--other {
        &:before {
            background-image: image-url('sport_workout.svg');
        }
    }
    &--bike {
        &:before {
            background-image: image-url('sport_bike.svg');
        }
    }
    &--run {
        &:before {
            background-image: image-url('sport_run.svg');
        }
    }
    &--swim {
        &:before {
            background-image: image-url('sport_swim.svg');
        }
    }

}
.week-sport__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2vw;
    font-size: 1vw;
}
.week-intro__description {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2vw;
}
.week-intro {
    &__title {
        display: inline-block;
        padding: 0.5vw 1vw;
        margin-bottom: 1vw;
        line-height: 1;
        font-size: 2vw;
        font-weight: bold;
        text-transform: uppercase;
        color: colors(white);
        background: colors(black);
    }
    &__stats {
        line-height: 1;
        font-size: 1vw;
        font-weight: bold;
        &-col {
            display: inline-block;
            vertical-align: top;
            margin-right: 2vw;
        }
        span {
            display: inline-block;
            vertical-align: baseline;
            width: 150px;
        }
        strong {
            font-size: 2em;
            text-align: right;
            color: colors(red_a);
        }
    }
}
